body {
    background-color: white;
    margin: auto;
    padding: 0;
}

#header {
    text-align: center;
    font-family: Arial;
    font-size: 50px;
    color: white;
    border-radius: 15px 15px 15px 15px;
    background-color: mediumseagreen;
    width: 70%;
    height: 70px;
    margin: auto;
}

#form {
    border-radius: 15px 15px 15px 15px;
    width: 30%;
    height: 250px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 200px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

button {
    cursor: pointer;
    color: white;
    background-color: mediumseagreen;
    height: 30px;
    width: 170px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    /*box-shadow: 0 10px 40px 0 rgba(47,79,79 ,1 );*/
}

input {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
}

/* Welcome page */

nav {
    background-color: mediumseagreen;
}

ul {
    text-align: center;
}

li {
    color: black;
    display: inline-block;
    padding: 0 70px 0 70px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

li button {

}





